@import '../_global_scss/mixins';

.form-container {

  //holding divs for input HTML tags
  div {
    width: 80%;
    margin: 0 auto;

    .err-msg {
      @include font-setup(1.1em, $error-red);
      font-weight: 600;
    }

    input {
      padding: 2%;
      margin: 1%;
    }
  }

  input[type="submit"] {
    background-color: $background-color-blue-grey;
    @include font-setup(1.5em, $off-black-text);
    width: 20%;
  }
}