@import '../_global_scss/mixins';

.App {
  padding: 4%;

  p {
    @include font-setup(1.3em, $off-black-text);
  }

  h1 {
    @include font-setup(5em, $off-black-text);
    text-align: center;
    margin: 2% auto;
  }

  h2 {
    @include font-setup(2.5em, $off-black-text)
  }
}