@import '../_global_scss/mixins';

.table {
  float:left;
}

.table-container.table {
  width: 50%;

  .header-row {
    @include font-setup(1em, $off-black-text);
    tr, th:first-child {
      width: 20%;
    }

    tr, th:nth-child(2) {
      width: 20%;
    }
  }
}