//mixins are predefined properties, that we import and
//can use in the scss files.
@import "../_global_scss/mixins";

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    border: 8px solid $link-blue;
    border-bottom-color: transparent;
  }
}
