//=================
// general variables
//=================

//background colours
$background-color-blue-grey: #a7b3c7;
$background-color-grey: #636363;
$background-color-light-grey: #D3D6E3;
$background-color-general-white: #fff;

//text color options
$off-black-text: #313639;
$off-white-text: #fbf7f5;
$off-grey-white-text: #eeecec;
$error-red: #b30000;
$link-blue: #007bff;
$black: #000000;
$white: #ffffff;

//border color options
$black-border: #040404;
$faint-border: rgba(0,0,0,.15);

//button color options
$btn-light-gray: #b6b6b6;

//font options
$Arial:"Arial", sans-serif;
$Times-New-Roman: "Times New Roman", serif;
$Verdana: "Verdana", sans-serif;

// font highlight options
$bold : bold;
$italic : italic;

//font underline options
$underline-standard: underline;
